:root {
  --black-color: #000000;
  --navy-blue-color: #14213d;
  --yellow-color: #fca311;
  --gray-color: #e5e5e5;
  --white-color: #ffffff;
}
body {
  background-color: var(--gray-color);
  margin: 0px;
  padding: 0px;
}

.Link {
  text-decoration: none;
  color: var(--black-color);
}

.layout {
  display: flex;
}
